* {
  font-family: 'Artifika', serif;
  /*font-family: 'Lobster', cursive;*/
}
body {
    text-align: center;
}
.text-thick {
  font-weight: bold;
}
.text-big {
  font-size: 60px;
}
#spriteO {
  margin: auto auto;
  display: block;
}
.hideContainer {
  display: none;
}
/*set top margin*/
.mt {
  margin-top: 10px;
}
.mauto {
  margin: auto;
}
.borderTop {
  border-top: 1px solid #e5e5e5;
  padding: 5px auto;
}
.mTB {
  margin: 10px auto;
}
.cursor {
  cursor: pointer;
}
